@import 'app-config.less';
@import 'app-helper.less';

// -----------  root layout -----------
 #app {
  display: flex;
  flex-direction: column;

  // & > .header {
  //   flex: 0 0 60px;
  // }

  // page nav bar
  & > .nav-bar {
    // flex: 0 0 @nav-header-height;
    position: fixed;
    width: 100vw; height: @nav-header-height;
    top: 0; left: 0;
    z-index: 99;
  }

  & > .content {
    flex: 0 1 100%;

    padding-top: @nav-header-height;

    display: flex;
    flex-direction: column;
    justify-items: stretch;
  }
}

// -----------  page styles -----------
.page {

  background-color: @page-bg-color;
  min-height: @page-min-height;

  & >.page-header {
    height: 70px;
    top: 0;

    padding: 0; margin: 0;

    background-color: lighten(@page-bg-color, 5%);
    border-bottom: solid 1px darken(@page-bg-color, 8%);

    .page-header-content {
      width: 100%; height: 100%;
      .max-page-width;

      display: flex;
      justify-content: space-between;

      // features
      .page-title-container {
        flex: 0 0 auto;
        height: 100%;

        padding: 0 0; margin-left: 25px;

        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
          color: @c-inverse;
          font-weight: 100;
          font-size: 20pt;
        }

        // if icon exists
        i { .icon-margin  }
      }

      .page-actions {
        flex: 0 0 auto;

        display: flex;
        align-items: center;

        margin-right: 25px;
      }
    }

  }

  & >.page-body {
    .max-page-width;
    padding: @pad;
  }

}

// -----------  form -----------
.form-group {

  // label
  .form-label {
    display: block;
    margin-bottom: 8px;
    .f-b;
    font-size: 11pt;
  }

  // input
  .form-control {
    width: 100%; height: @input-height;
    transition: @transition;
  }

  // error text
  .form-error-text {
    color: @input-error-color;
    font-size: 11pt;

    i {
      font-size: 7pt;
      margin: -3px 5px 0 0;
      line-height: 10px;
    }
  }

  // required
  &.required > .form-label:after {
    content: "*";
    color: @c-danger;
  }

}

// -----------  style components -----------

// ----- panel -----
.panel {
  position: relative;

  background-color: white;
  border: solid thin darken(@c-light, 7%);
  border-radius: @panel-border-radius;

  display: flex;
  flex-direction: column;

  .box-shadow(@panel-shadow);

  &.no-shadow {
    box-shadow: none!important;
  }

  // ------ features ------
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @grey2;
    margin: 0 0;
    padding: 0;
  }

  // for panel inside tab
  section {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .panel-header {
    flex: 0 0 auto;
    padding: @panel-padding;
  }

  .panel-body {
    flex: 0 1 100%;

    &.darken {
      border-top: solid thin fadeout(black, 95%);
      background-color: fadeout(black, 98%);
    }

    // generic block
    .panel-block {
      padding: @panel-padding;
    }

    // block out section
    .panel-section {
      background-color: fadeout(black, 98%);
      border-top: solid thin fadeout(black, 95%);
      border-bottom: solid thin fadeout(black, 95%);

      padding: @panel-padding;
    }

  }

  .panel-footer {
    flex: 0 0 auto;
    padding: @panel-padding;

    background-color: fadeout(black, 95%);
    border-top: solid thin fadeout(black, 95%);
  }

  // ------ bar ------

  // all
  &.bar-left:before, &.bar-right:before, &.bar-top:before, &.bar-bottom:before {
    content: " ";

    display: block;
    position: absolute;
    overflow: hidden;
  }

  // left
  &.bar-left:before {
    width: 5px; max-width: 5px;
    top: 2px; bottom: 2px; left: -5px;
    border-radius: 2px 0 0 2px;
    background-color: @c-inverse;
  }

  // top
  &.bar-top:before {
    height: 4px; max-height: 4px;
    top: -4px; left: 1px; right: 1px;
    border-radius: 2px 2px 0 0;
    background-color: @c-inverse;
  }

  // right
  &.bar-right:before {
    width: 5px; max-width: 5px;
    top: 2px; bottom: 2px; right: -5px;
    border-radius: 0 2px 2px 0;
    background-color: @c-inverse;
  }

  // bottom
  &.bar-bottom:before {
    height: 4px; max-height: 4px;
    bottom: -4px; left: 1px; right: 1px;
    border-radius: 0 0 2px 2px;
    background-color: @c-inverse;
  }

}

// ----- well -----
.well {}

// ----- icon circle -----
@icon-circle-w-h: 55px;
.icon-circle {
  width: @icon-circle-w-h; height: @icon-circle-w-h;
  border-radius: 50%;

  background-color: fadeout(black, 90%);
  border: solid thin fadeout(black, 85%);

  display: flex;
  align-items: center;
  justify-content: center;
}

// -----------  transitions -----------

// side in from right
.slide-in-from-right-enter-active {
  transition: transform .2s;
}
.slide-in-from-right-leave-active {
  transition: transform .2s;
}
.slide-in-from-right-enter, .slide-in-from-right-leave-to {
  transform: translateX(400px);
}

// side in from left
.slide-in-from-left-enter-active {
  transition: transform .2s;
}
.slide-in-from-left-leave-active {
  transition: transform .2s;
}
.slide-in-from-left-enter, .slide-in-from-left-leave-to {
  transform: translateX(-400px);
}


// dashboard enter animation
.dashboard-list-enter {
  opacity: 0;
  transform: translateY(40px) rotateY(45deg);
}
.dashboard-list-enter-active {
  transition: all .65s;
  .foreach ({
    &:nth-child(@{value}) {
      @speed: .1;
      @delay: @value * @speed;

      transition-delay:  ~'@{delay}s';
    }
  }, 12);
}
.dashboard-list-enter-to {
  opacity: 1;
}
.dashboard-list-leave {
  opacity: 0;
}
.dashboard-list-leave-active {
  transition: opacity 0s; // make charts exit instantly
}
.dashboard-list-leave-to {
  opacity: 0;
}

.foreach(@body, @i) when (@i>0) {
  .foreach(@body, @i - 1);

  @value: @i;
  @body();
}

// ---- grid overrides, need to do something with these ----
.ag-fresh .ag-root {
  border: none;
}
.ag-cell {
  line-height: 35px;
  vertical-align: middle;
  padding: 0 10px !important;
  color: @grey9;
  border: none!important;
  border-right: solid thin @grey3!important;
}
.ag-fresh .ag-header {
  background: none;
  background-color: @grey2!important;
  border-top: solid 3px @c-inverse;
}
.ag-header-cell {
  background-color: @grey1!important;
}
