@import './app-config.less';
@import './app-helper.less';

 // root page element
 #app {
   display: flex;
   min-height: @page-min-height;

   // page nav bar
   & > .nav-bar {
     flex: 0 0 230px;
   }

   & > .content {
     flex: 0 1 100%;
     height: 100%;

     display: flex;
     flex-direction: column;
     justify-items: stretch;
   }
 }
