/*
  main source styled of truth
*/

// import
@import './config.less';

// ----------- page -----------
.page {
  width: 100%; height: @page-min-height;
  background-color: @page-bg-color;

  & .page-header {
    width: 100%; height: 80px;
    background: white;
    border-bottom: solid thin @grey4;
  }

  & .page-body {
    .page-max-width;
    padding: @page-padding;
  }
}

// ----------- components -----------



// panel
.panel {
  width: auto; height: auto;

  background: white;
  border: solid 1px @grey4;
  border-radius: @br;

  .bottom-shadow;
}

// well
.well {

}

// ----------- elements -----------

h1,
h2,
h3,
h4,
h5,
h6 {
  .f-b;
  color: @grey9;
}
